@font-face {
  font-family: "Spooky";
  src: url(../assets/OctoberCrow.ttf) format("truetype");
}

body {
  background: black;
  color: orange;
  background-image: url("../assets/dollarphotoclub_92889788.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Spooky", sans-serif;
  height: 1000px;
  margin: 0;
  padding: 0;
}

ul {
    list-style-type: none;
    margin: 20;
    padding: 30;
    overflow: hidden;
    background-color: #FF6E26;
} 

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: purple;
    border-radius: 5px;
}

a {
  font-size: 40px;
  display: block;

}

img.pumpkin {
  height: 4em;
}

footer {
  list-style-type: none;
  position: fixed;
  bottom: 0;
  display: block;
}